<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sun.mapper.GreatMapper">
    <select id="queryByNo" resultType="Great">
        select * from great where stuNo = #{stuNo} and essayID = #{essayID};
    </select>

    <insert id="addGreat">
        insert into great(stuNo,essayID) values(#{stuNo},#{essayID});
    </insert>

    <delete id="deleteGreat">
        delete from great where stuNo = #{stuNo} and essayID = #{essayID};
    </delete>

</mapper>
