<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sun.mapper.ReplyMapper">

    <select id="getAllReply" resultType="Reply">
        select * from reply;
    </select>

    <insert id="addReply" parameterType="Reply">
        insert into reply(essayID,stuNo,studentName,content,replyTime) values(#{essayID},#{stuNo},#{studentName},#{content},#{replyTime});
    </insert>

    <update id="updateFan" parameterType="int">
        update reply
        <set>fans = #{fans},</set>
        where replyID = #{replyID};
    </update>

    <select id="queryByNo" parameterType="int" resultType="Reply">
        select * from reply where replyID = #{replyID};
    </select>

</mapper>
